@font-face {
    font-family: Roboto;
    src: url(/fonts/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(/fonts/Helvetica.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Header Styles */
.main-header {
    background-color: white;
    position: sticky;
    top: 0;
    max-width: 1446px;
    z-index: 1000;
    padding: 20px 30px;

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;
    height: 35px;
}

.logo span {
    font-weight: 600;
    font-size: 22px;
    color: #3f3f95;
    font-family: "Roboto", SemiBold;
    line-height: 18px;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 15px;

}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    transition: 0.3s;
    line-height: 14px;
    font-family: "Roboto", SemiBold;
    position: relative;


}

.nav-links a:hover,
.nav-links a.active {
    color: #3730a3;
}

.nav-links a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #3730a3;
    bottom: -22px;
    left: 0;
    transition: all 1s ease-in-out;
}


.search-container {
    position: relative;
    cursor: pointer;
    font-family: "Roboto", Regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
}

.mobile-search {
    display: none;
}

.search-box {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    background: #fff;
    padding: 8px;
    border: 1px solid #ccc;
    margin-top: 6px;
}

.search-container.active .search-box {
    display: block;
}


.menu-toggle {
    display: none;
    font-size: 22px;
    cursor: pointer;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Footer style*/

.footer {
    background-color: #3D4093;
    padding: 50px 100px;
    color: #fff;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1446px;
    margin: 0 auto;

}

.footer-form {
    align-items: start;
    text-align: start;
}

.footer-form,
.footer-center,
.footer-info {
    /* flex: 1 1 300px; */
    width: 33.33%;
}


.footer-form h3 {
    font-family: "Roboto", SemiBold;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    color: #9B9EFD;
}

.footer-form form input,
.footer-form form select,
.footer-form form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid #8488F6;
    background: transparent;
    color: white;
    font-family: "Roboto", Regular;
    font-weight: 400;
    font-size: 14px;
}

.footer-form form input::placeholder {
    color: #fff;

}

.footer-form form select::placeholder {
    color: white;
}

.footer-form form textarea::placeholder {
    color: white;
}

.footer-form form input,
.footer-form form select,
.footer-form form textarea:focus {
    outline: none;
}

.footer-form .form-row {
    display: flex;
    gap: 40px;
}

.footer-form textarea {
    resize: vertical;
    height: 80px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-form button {
    background-color: white;
    color: #3D4093;
    font-family: "Helvetica", Bold;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.form-footer .char-count {
    margin-top: -50px;
    font-style: italic;
}

.footer-center {
    align-items: center;
    text-align: center;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.footer-logo {
    width: 60px;
    margin-bottom: 5px;
}

.footer-center h3 {
    font-family: "Roboto", SemiBold;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 1px;
}

.footer-center a {
    text-decoration: none;
    color: #2EA3F2;
    font-family: "Helvetica", Bold;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 24px;
}

.footer-center p {
    font-family: "Helvetica", Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #9B9EFD;
}

.footer-info {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.footer-desc {
    display: flex;
    gap: 10px;
}

.footer-icon-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-icon-desc h6 {
    font-family: "Roboto, SemiBold";
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    color: #9B9EFD;
}

.footer-icon-desc p {
    font-family: "Roboto", Regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
}

.footer-hr {
    border: 1px solid #8488F6;
    width: 350px;
}

.footer-info-contact {
    display: flex;
    gap: 25px;
}

.footer-bottom {
    max-width: 1440px;
    width: 100%;
    color: white;
    padding: 25px 0;
    text-align: center;
    background-color: black;
    box-sizing: border-box;
    font-family: "Helvetica", Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;

}

/* ------------------------------------------------------Media Queries------------------------------------------------- */
@media (max-width: 1024px) {
    .main-header {
        padding: 12px 0px;
    }

    .logo {
        padding: 10px 30px;
        align-items: center;

    }

    .logo span {
        font-size: 15px;
    }

    .menu-toggle {
        display: block;
        padding: 10px 30px;
    }

    /* .nav-links::before{
        filter: blur(5px);
    } */
    .nav-links {
        position: absolute;
        top: 70px;
        left: 15px;
        right: 15px;
        max-width: 1024px;
        margin: 0 auto;
        flex-direction: column;
       background: rgba(61, 64, 147, 0.25);
        backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: 6px;
        display: none;
        gap: 30px;
        color: #fff;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        animation: slideIn 0.3s ease-in-out;
        box-sizing: border-box;
    }

    .nav-links a.active {
        color: #fff;
    }

    .nav-links a {
        color: white;
    }

    .nav-links.active {
        display: flex;
        

    }

    .nav-links a.active::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        bottom: -8px;
        left: 0;
    }

    .desktop-search {
        display: none;
    }

    .mobile-search {
        display: block;
        width: 100%;
    }

    .mobile-search input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .footer {
        padding: 50px 60px;
    }

    .footer-container {
        flex-wrap: wrap;
    }

    .footer-form, .footer-center {
        width: calc(50% - 15px);
    }

    .footer-info {
        width: 100%;
    }

    .footer-bottom {
        padding: 25px 20px;
        text-align: center;
        font-size: 9px;
    }
    .footer-center {
    align-items: center;
    text-align: center;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;


}
}


/* ------------------------------------------------------Media Queries------------------------------------------------- */

@media (max-width:768px) {

    .main-header {
        padding: 12px 0px;
    }

    .logo {
        padding: 13px 0;
        align-items: center;

    }

    .logo span {
        font-size: 11px;
    }

    .menu-toggle {
        display: block;
        padding: 13px 5px;
    }

    .footer {
        padding: 50px 20px;
    }

    .footer-container {
        flex-wrap: wrap;

    }

    .footer-form, .footer-center, .footer-info {
        width: 100%;
    }

}